@keyframes toTop {
    from {
        top: 0;
    }
    to {
        top: -1rem;
    }
}

@keyframes balloon-animation {
    0% {
        bottom: 5rem;
    }
    40% {
        bottom: 35rem;
    }
    60% {
        bottom: 50rem;
    }
    100% {
        bottom: 90rem;
    }
}