footer {
    display: flex;
    flex-direction: row;
    background-color: rgba(1, 1, 26, 0.6);
    padding: 3rem 3rem 5rem;
    i {
        font-size: 2rem;
        padding: 0.3rem;
    }
    a {
        color: $font-color-primary;  
    }
    .contact-info,
    .links-container {
        padding: 15px;
        text-align: center;
    }
    .footer-brand {
        margin-bottom: 2rem;
        h2 {
            margin-bottom: 0.5rem;
            padding: 1.5rem;
            background-color: rgba(0, 0, 0, .1);
            border: 1px solid $color-primary;
        }
        p {
            color: $font-color-primary;
        }
    }
    .contact-info {
        p {
            margin-bottom: 1rem;
        }
        i {
            background-color: transparent;
            padding: 5px;
            background-color: rgba(0, 0, 0, .1);
            color: $font-color-primary;
            border: 1px solid $color-primary;
        }
    }
    .social-networks {
        p {
            margin-bottom: 1rem;
        }
    }
    .networks {
        margin-top: 2rem;
        i {
            padding: 1.2rem;
            margin-right: 1rem;
        }
    }
    .links-container {
        h4 {
            text-transform: uppercase;
            margin-bottom: 3rem;
            color: $color-secondary;
            font-size: 12px;
        }
        nav {
            display: flex;
            flex-direction: column;
            a {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid $color-primary;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
    .phone-number {
        display: flex;
        border: 1px solid $color-primary;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
        color: $color-secondary;
        p { 
            color: $font-color-primary;
        }
    }
    .phone-info {
        color: $color-secondary;
    }
    p {
        color: $color-secondary;
        font-size: $font-size-default;
    }
}