header .container {

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .hero {
        height: 35rem;
        display: flex;
        padding-bottom: 4rem;
        width: 100%;

        h1 {
            padding-top: 28rem;
            text-align: center;
            width: 86%;
            position: absolute;
        }

        img {
            animation: balloon-animation 5s linear;
            position: absolute;
            bottom: 15rem;
        }
    }

}