$color-primary: #195484;
$color-secondary: #f58220;
$font-color-primary: #ffffff;
$font-color-secondary: #454545;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 1.8rem;


html {
    font-size: 62.5%;
}

body {
    background-color: $color-primary;
    font-family: $font-default;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: $font-color-primary;
    text-align: center;
    margin-top: 4rem;
}

article {

    h1 {
        color: $color-secondary;
        font-size: 3rem;
        text-align: left;
    }

}

h2 {
    color: $font-color-primary;
    font-family: 'freshman', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 4rem;
}

#root,
header,
section {
    display: block;
    float: left;
    width: 100%;
    overflow-x: hidden;
}

section {
    padding: 4rem 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;
}


@import 'animation';
@import 'fonts';
@import 'footer';
@import 'header';
@import 'nav';
@import 'produtos';
@import 'sobre';
@import 'steps';
@import 'vitrine';
@import 'responsive';
